psycopg2-binary
Babel
chardet
cryptography
decorator
docutils
ebaysdk
freezegun
geoip2
gevent
greenlet
idna
Jinja2
libsass
lxml
lxml_html_clean
MarkupSafe
num2words
ofxparse
passlib
Pillow
polib
psutil
psycopg2
pydot
pyopenssl
PyPDF2
pyserial
python-dateutil
python-ldap
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
rjsmin
urllib3
vobject
Werkzeug==2.2.2
xlrd
XlsxWriter
xlwt
zeep

